node_modules
.next
*.db
*.log
tmp
.env
/src/generated/prisma
*.txt
*.tsbuildinfo
*.js
!next.config.mjs
!postcss.config.js
!tailwind.config.ts
!create_admin.js
!list_users.js
!reset_users.js
!scripts/
!src/
!public/
!package.json
!package-lock.json
!tsconfig.json
!next-env.d.ts
!.gitignore
!*.mjs
!*.cjs
